body{
    background: radial-gradient(100% 225% at 100% 0%, #d19018 0%, #6b4242 100%), linear-gradient(236deg, #7e4f07 0%, #000000 100%), linear-gradient(135deg, #c48e23 0%, #fff0cd 36%, #e7a248 36%, #5d3d0a 60%, #a04c14 60%, #d26d2a 67%, #3c140a 67%, #dc3e17 100%);
    background-blend-mode: overlay, hard-light, normal;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    
}
form{
    width: 60vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 20px 2px #0005;
}
form input[type="text"]{
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0 2vw;
    border: 0;
    font-size: 5vh;
}
form input[type="submit"]{
    flex-grow: 1;
    font-size: 5vh;
    border-radius: 0;
    border-style: none;
    background-color: #ffa704;
}
form input[type="submit"]:hover{
    background-color:#ffaf1c;
}
.form-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.form-up{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    transition: all;
    transition-duration: 0.5s;
}
#containerMovies{
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    margin: 1vw;
}
.movieContainer{
    padding-top: 10px;
    
    width: 300px;
    height: 50vh;
    background-color: #000b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all 1s;
}
.movieContainer img{
    object-fit: cover;
    width: 95%;
    height: 50%;
}
.movie-info{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.movieContainer p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0px 20px;
    text-align: center;
}