<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyles.css">
    <title>Prueba de estructura</title>
</head>
<body>
    <div id="containerMovies">
        <a href="www.google.com">
            <div class="movieContainer">
                <img src="../images/spiderman.jpg" alt="">
                <div class="movie-info">
                    <p class="movie-title">Título</p>
                    <p class="movie-year">1999</p>
                    <p class="movie-type">Película</p>
                </div>
            </div>
        </a>
        <a href="www.google.com">
            <div class="movieContainer">
                <img src="../images/spiderman.jpg" alt="">
                <div class="movie-info">
                    <p class="movie-title">Título</p>
                    <p class="movie-year">1999</p>
                    <p class="movie-type">Película</p>
                </div>
            </div>
        </a>
    </div>
    <script src="../js/getMovieInfo.js"></script>
</body>

</html>